.analyse {
  display: flex;
  justify-content: center;
  width: 100%;

  .analyseWrapper {
    max-width: 1024px;
    padding: 0 30px;
    width: 100%;

    .heroBlock {
      margin-top: 95px;

      h1, p {
        margin-bottom: 25px;
      }

      p {
        max-width: 450px;
      }
    }
  }
}
