.pricing {
  display: flex;
  justify-content: center;
  width: 100%;

  .pricingWrapper {
    max-width: 1024px;
    padding: 0 30px;
    width: 100%;

    .heroBlock {
      margin-top: 95px;
      margin-bottom: 75px;

      h1 {
        margin-bottom: 25px;
      }

      p {
        margin-bottom: 15px;
      }
    }

    .featuresBlock {
      margin-bottom: 60px;

      h2 {
        margin-bottom: 20px;
      }

      p {
        margin-bottom: 15px;
      }
    }
  }
}
