.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .headerContent {
    width: 100%;
    max-width: 1024px;
    padding: 30px;
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      transition: var(--transition);

      &:hover {
        opacity: 0.6;
        transition: var(--transition);
      }
    }

    .navigation {
      display: flex;
      align-items: center;

      li {
        margin-left: 25px;
      }
    }
  }
}
