@keyframes sectionAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cvAnalyser {
  .uploadFileField {
    display: none;
  }

  .captchaWrapper {
    padding-top: 19px;
  }

  .loaderWrapper {
    height: 22px;
    display: flex;
    align-items: center;
  }

  section {
    opacity: 0;
    animation: sectionAnim var(--transition) forwards;
    margin-bottom: 40px;
  }

  .stepBlock {
    border-left: 2px solid var(--secondary-color);
    padding-left: 14px;
    margin-bottom: 35px;
    opacity: 0.4;
    pointer-events: none;
    transition: var(--transition);

    &.stepBlockActive {
      opacity: 1;
      pointer-events: all;
      transition: var(--transition);
      margin-bottom: 50px;
    }

    h2, p {
      margin-bottom: 14px;
    }
  }

  .stepOneSection {
    h2 {
      margin-bottom: 50px;
      text-indent: 30px;
      position: relative;

      svg {
        position: absolute;
        left: 0;
        top: -3.5px;
        width: 25px;
        height: 25px;
      }
    }

    .stepOneSectionResults {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .stepOneSectionResult {
        width: calc(50% - 20px);

        h2 {
          margin-bottom: 20px;
          text-indent: 0;
        }

        &:nth-child(1), &:nth-child(2) {
          margin-bottom: 40px;
        }
      }
    }
  }
}

