@keyframes stepsAnim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cvAnalyser {
  transition: opacity .25s;

  &.fade {
    opacity: 0;
    transition: opacity .25s;
  }
}


.stepBlock {
  box-sizing: border-box;
  border-left: 2px solid;
  padding-left: 20px;
  width: 60%;
  transition: opacity .25s;

  h2 {
    margin-bottom: 14px;
  }

  &.stepBlockOne {
    .uploadFileField {
      display: none;
    }

    .stepBlockTwoForm {
      margin-top: 20px;

      .error {
        display: block;
        margin-bottom: 17px;
        margin-top: -5px;
        color: #9c3131
      }

      .stepBlockTwoFileUpload {
        margin-bottom: 20px;
        background: none;
        border: 2px dashed var(--secondary-color);
        max-width: 250px;

        span {
          color: var(--secondary-color);
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      .stepBlockTwoSubmit {
        margin-top: 15px;
      }
    }
  }

  &.stepBlockTwo {
    width: 100%;

    .featureCards {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      row-gap: 20px;
      margin-bottom: 40px;

      .featureCard {
        width: calc(50% - 10px);
        cursor: pointer;
        border: 1px dashed white;
        opacity: 0.9;
        transition: opacity var(--transition);

        &:hover, &.featureCardActive {
          opacity: 1;
          transition: opacity var(--transition);
          border: 1px solid var(--secondary-color);
        }

        @media (max-width: 768px) {
          width: 100%;
          margin: 0px 0px 0px 0px !important;
        }
      }
    }
  }

  &.stepBlockThree {
    width: 100%;

    p {
      margin-bottom: 20px;
    }

    .coverLetter {
      white-space: pre-line;

      p {
        margin: 0;
      }
    }

    .stepBlockThreeControls {
      display: flex;
      button {
        margin-right: 15px;
      }
    }

    .cvImprovements {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      justify-content: space-between;

      .cvImprovement {
        width: calc(50% - 10px);

        p {
          margin: 0;
        }
      }
    }

    .interviews {
      display: flex;
      flex-wrap: wrap;

      .interview {
        margin-bottom: 40px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    padding-left: 0;
    border: none;
  }
}
